{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game_store</title>
</head>

<body>
    <style>
        
        table{
            color: white;
            background-color:darkgray;
            border-collapse: collapse;
            border: 3px solid #ffffff ;
           
           
        }

        th{
            text-align: center;
            background-color: darkcyan;
            border-collapse: collapse;
            border: 3px solid #ffffff ;
           
          
        }
        td{
            text-align: center;
            border-collapse: collapse;
            border: 3px solid #ffffff ;
            font-size: 20px;

           
           
        }
        .first{
            text-align: center;
            color: darkcyan;
            font-size: 50px;
        }
      




    </style>
    <div class="first">Магазин настольных игр </div>
    
    <table>
        <caption>Настольные игры</caption>
        <thead>
            <tr>
                <th>Игра</th>
                <th>Возрастное ограничение</th>
                <th>Цена</th>
                <th>Категория</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img  src="{% static 'img/game_1.png' %}"  width="200" height="200"alt="photo" >  
                </td>
                <td>
                    <p>12+</p>
                </td>
                <td style="width: 80px;">
                    <p> 268.50 р.</p>
                </td>
                <td>
                    <p> Настольные игры, Стратегии/Евро</p>
                </td>
                <td>
                    <p>
                        «Циркадианцы: власть хаоса» — конфликтная соревновательная настольная игра на контроль территорий 
                        с асимметричными фракциями. У каждой фракции уникальные лидеры и качества, которые вы будете улучшать 
                        в ходе игры, а также уникальные здания и личное условие победы.
                        Общее условие победы — контролировать все оставшиеся на поле реликвии. 
                        На протяжении не более чем 6 раундов вы будете заниматься исследованиями, строительством зданий и производством ресурсов.
                        Также вы будете вербовать и перемещать подразделения, стараясь захватить древние реликвии, установить контроль над регионами, 
                        необходимыми для реализации стратегии, и получить достаточно славы, чтобы стать победителем.
                    </p>
                </td>

            </tr>
            <tr>
                <td>
                    <img  src="{% static 'img/game_2.png' %}"  width="200" height="200"alt="photo" >  
                </td>
                <td>
                    <p>12+</p>
                </td>
                <td style="width: 80px;">
                    <p>34.50 р.</p>
                </td>
                <td>
                    <p>Настольные игры, Семейные игры</p>
                </td>
                <td>
                    <p>
                        В жизни каждого человека бывают моменты, когда он вошёл не в ту дверь и попал в кромешный ад. Недетская бродилка «Не та дверь» — отличный шанс 
                        проверить вашу дружбу на прочность, ведь выберется отсюда только один.
                        Главная особенность бродилки — полностью переосмысленный механизм «бросай кубик и иди». Игроки бросают кубик, 
                        но дальше начинается самое интересное. На пути их ждут многочисленные ловушки, развилки и порталы. Красный портал отбрасывает назад, 
                        зелёный переносит вперёд. Главная фишка в том, что с собой можно захватить одного из соперников. Выбор за вами: помочь отстающему или свергнуть фаворита?                        
                        В комплект входит огромное двустороннее поле. Целых два зловещих мира. С одной стороны – "Лаборатория", таящая в себе последствия удачных и неудачных
                        научных экспериментов (постарайтесь не стать ещё одним!). С другой – "Гиблое место"; как следует из названия, захолустье то ещё, со всеми вытекающими опасностями.
                        Ваша задача проста – кидать кубик, передвигать свои фишки и попытаться добраться до финиша. Вот только главным препятствием станут ваши же друзья – ведь каждому
                        из вас придётся противостоять соблазну столкнуть соперника в плохой портал, сбить с верного пути или указать неверное направление.
                    </p>
                </td>

            </tr>
            <tr>
                <td>
                    <img  src="{% static 'img/game_3.png' %}"  width="200" height="200"alt="photo" >  
                </td>
                <td>
                    <p> 18+</p>
                </td>
                <td style="width: 80px;">
                    <p>104.90 р.</p>
                </td>
                <td>
                    <p>Настольные игры, Для вечеринки</p>
                </td>
                <td>
                    <p>
                        Игра "Бункер", издание 3.1c – дискуссионная игра о выживании после апокалипсиса. На Земле грядёт глобальная катастрофа. 
                        Вам повезло, вы оказались перед входом в спасательный бункер, в котором можно пережить самый опасный период. 
                        Но попасть в бункер смогут не все – а лишь половина из вас. Остальные будут обречены встречать катастрофу снаружи.
                        В ходе нескольких раундов игроки решают, кого не берут в бункер. Прошедшие все круги голосования и попавшие в бункер – выживут, 
                        чтобы затем возродить цивилизацию. Игроки получают несколько карт характеристик: пол и возраст, профессия, здоровье, хобби и др.
                        Постепенно вы раскрываете свои карты, знакомитесь друг с другом и принимаете решения, кто и насколько будет полезен для 
                        выживания и восстановления жизни после выхода из бункера.
                    </p>
                </td>

            </tr>
            <tr>
                <td>
                    <img  src="{% static 'img/game_4.png' %}"  width="200" height="200"alt="photo" >  
                </td>
                <td>
                    <p> 14+</p>
                </td>
                <td style="width: 80px;">
                    <p>195 р.</p>
                </td>
                <td>
                    <p> Настольные игры, Стратегии/Евро</p>
                </td>
                <td>
                    <p>
                        «Просветление» — игра для 1-4 игроков с широким выбором тактики. В каждом раунде важно увидеть, 
                        какие возможности открываются перед вами в Великих горах, 
                        в которые ваши монахи отправятся в поисках просветления.
                        В отличие от других игр на выставление рабочих, в «Просветление» 
                        у всех игроков общий пул прихожан (рабочих), разделённых на три цвета. 
                        Каждый ход вы будете использовать одного из них, чтобы выполнять действия на поле. Но будьте внимательны, 
                        может оказаться, что к вашему ходу не окажется прихожан нужного вам цвета.
                        Кроме того, игровое поле в «Просветлении» постоянно меняется. В процессе игры участники будут модифицировать 
                        или выкладывать новые места с доступными на них действиями. Это позволит расширить возможности по оптимизации 
                        ваших действий и по поиску путей достижения целей. Отправляйте ваших монахов молиться в горы, чтобы обрести 
                        просветление и совершить невероятные комбинации из действий и бонусов. Стройте Великую пагоду, чтобы получить
                        очки в конце игры, или открывайте новые алтари в храме.
                    </p>
                </td>

            </tr>
        </tbody>
    </table>
      <p style="font-size: 20px;">Больше информации о настольных играх у нас на сайте! Кликай!</p>
      <a href="https://znaemigraem.by" style="color: darkcyan; font-size: 20px;">https://znaemigraem.by</a>
      <p>Связаться с нами:+375 33 667 79 91</p>
      <a href="http://127.0.0.1:8000" style="color: black"> <-Вернуться назад</a>
    
    
</body>
</html>